# /usr/local/freesurfer/stable5_3_0/fsfast/bin/fcseed-config -vcsf -fcname vcsf_mean.dat -fsd rest -mean -cfg vcsf_choroid_plexus.config
# ProjectDir $STUDY_DIR
# $Id: fcseed-config,v 1.6 2011/03/15 20:31:16 greve Exp $ 
# Thu Nov 30 14:19:06 EST 2017
# segidlist modified by ts471 on 2017/12/06 to extract only choroid plexus

fcname vcsf_choroid_plexus.dat
fsd rest
segstem aparc+aseg
RegDOF 6
FillThresh .95
DoMean 1
DoSVD 0
DoSqr 0
MakeMask 0
WMErode 0
SVDSynth 0
DoWM 0
UseB0DC 0
segidlist 31 63
