# /usr/local/freesurfer/stable5_3_0/fsfast/bin/fcseed-config -wm -fcname wm_mean.dat -fsd rest -mean -cfg wm1_mean.config
# ProjectDir $STUDY_DIR
# $Id: fcseed-config,v 1.6 2011/03/15 20:31:16 greve Exp $ 
# Thu Nov 30 14:19:22 EST 2017

fcname wm_mean.dat
fsd rest1
segstem aparc+aseg
RegDOF 6
FillThresh .95
DoMean 1
DoSVD 0
DoSqr 0
MakeMask 0
WMErode 0
SVDSynth 0
DoWM 1
UseB0DC 0
